.layout_container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: rgb(65, 80, 58);
}

.layout_container_left {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 20px);
  padding-right: 20px;
  background-color: rgb(89, 109, 80);
  -webkit-box-shadow: 0px 0px 16px -1px rgba(54, 61, 55, 0.83);
  -moz-box-shadow: 0px 0px 16px -1px rgba(54, 61, 55, 0.83);
  box-shadow: 0px 0px 10px 3px rgba(28, 32, 29, 0.83);

  .layout_container_header {
    padding: 15px 30px;
    font-weight: 700;
    color: whitesmoke;
    font-size: 55px;
    text-shadow: -1px -1px 0 rgb(103, 129, 70), 1px -1px 0 rgb(103, 129, 70),
      -1px 1px 0 rgb(103, 129, 70), 1px 1px 0 rgb(103, 129, 70);
  }
}

.layout_container_right {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.layout_container_filter {
  background-color: #829569;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(54, 61, 55, 0.83);
  -moz-box-shadow: 0px 0px 16px -1px rgba(54, 61, 55, 0.83);
  box-shadow: 0px 0px 16px -1px rgba(54, 61, 55, 0.83);
}

.layout_container_details {
  background-color: #829569;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(54, 61, 55, 0.83);
  -moz-box-shadow: 0px 0px 16px -1px rgba(54, 61, 55, 0.83);
  box-shadow: 0px 0px 16px -1px rgba(54, 61, 55, 0.83);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(103, 129, 70);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}
