.chip-container {
  min-width: 10px;
  max-width: 200px;
  display: inline-block;
  padding: 1px 7px;
  margin: 5px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  background-color: #5a7762;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 21px;
}

.rarity--level-verycommon {
  background-color: rgb(129, 129, 129);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
}

.rarity--level-common {
  background-color: inherit;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
}

.rarity--level-uncommon {
  background-color: rgb(74, 173, 74);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
}

.rarity--level-rare {
  background-color: rgb(76, 156, 247);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
}

.rarity--level-veryrare {
  background-color: rgb(153, 90, 195);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
}

.rarity--level-legendary {
  background-color: rgb(239, 243, 17);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(44, 56, 46, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(255, 225, 52, 0.3);
}
