.chip-container {
  width: auto;
  display: inline-block;
  padding: 2px 9px;
  margin-top: 5px;
  height: 20px;
  font-size: 16px;
  border-radius: 25px;
  background-color: #5a7762;
}

.rarity--level-verycommon {
  background-color: rgb(126, 126, 126);
}

.rarity--level-common {
  background-color: rgb(219, 219, 213);
}

.rarity--level-uncommon {
  background-color: rgb(63, 168, 63);
}

.rarity--level-rare {
  background-color: rgb(0, 119, 255);
}

.rarity--level-veryrare {
  background-color: rgb(146, 59, 204);
}

.rarity--level-legendary {
  background-color: rgb(243, 190, 17);
}
